*{
    text-decoration: none;
    

}


body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#header{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
}

iframe{
    width: 100%;
    height: 30vh;
}

#header-img{
    width: 60px;
    clip-path: circle();
    margin: 15px  20px 0 20px;
}
nav{
    background-color: brown;
    height: 80px;
}

#nav-bar ul{
    
    float: right;
    margin-right: 50px;
}

#nav-bar ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 15px;
    list-style-type: none;
}


#nav-bar ul li a{
    color: white;
    position: relative;
    

}


#About{
    background-image: linear-gradient(to bottom, rgba(167, 68, 68, 0.227) 0%,rgba(0, 0, 0, 0.309) 100%), url('../Resources/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 100%;
    
}


label #btn, 
label #cancel{
    color: white;
    font-size: 30px;
    line-height: 100px;
    cursor: pointer;
    display: none;
}
 
label #btn{
    margin-left: 50px;
    margin-right: 20px;
} 

#check{
    display: none;
}


@media (max-width:600px){

    #header-img{

        margin: 15px  20px 3px 20px;
    }
    label #btn{
        display: block;
    }

    #nav-bar ul{
        float: none;
        margin-top: 0%;
        position: fixed;
        width: 100%;
        left: -100%;
        background: #34495e;
        height: 100vh; 
        transition: all .5s;
        top: 80px;
    }
    #nav-bar ul li{
        margin-top: 0%;
        margin-bottom: 30px;
        display:block;
        line-height: 50px;
        text-align: center;

    }

    #nav-bar ul li a{
        font-size: 20px;
    }

    #nav-bar > #check:checked > ul{
        float: none;
        margin-top: 0%;
        position: fixed;
        width: 100%;
        /* left: -100%; */
        background: #34495e;
        height: 100vh; 
        transition: all .5s;
        top: 80px;
    }
}